@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Noto+Sans+TC");

html {
  background-image: url("../img/wood-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right 0 top 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  display: flex;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.site-title {
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 5px;
}

input, button {
  font-family: 'Noto Sans TC', sans-serif;
}

input {
  border: none;
  border-bottom: 1px dotted black;;
  background: none;
  font-size: 15px;
}

::placeholder {
  opacity: 1;
  color: rgb(240, 248, 255);
  
}

button {
  border-radius: 10px;
  background-color: rgb(15, 157, 88);
  border-color: black;
}

a:hover {
    color: grey;
}

main, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  font-family: 'Indie Flower', cursive;
  border-radius: 5px;
  border: solid, 5px black;
  padding-bottom: 50px; /*to make sure the footer doesn't cover anything*/
}

section {
  width: 90%;
  border-radius: 10px;
  font-size: 1.35rem;
  padding: 10px;
}

.total-budget-section {
  background-color: rgba(0, 191, 255, 0.6);
}

.total-budget-section * {
  margin: 8px;
}

.categories-section {
  background-color: rgba(250, 238, 152, 0.6);
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.section-title:first-child {
  text-decoration: underline;
  flex: 1;
}

.category {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #ccc;
}

li * {
  margin: 0 5px;
}

li .item-name {
  flex: 1;
}

form {
  display: flex;
}

form * {
  margin: 0 5px;
  padding: 5px;
}

form.add-item * {
  max-width: 30%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  /* display: flex; */
  display: none;
  animation-play-state: paused; /*set this to running when it shows*/
  justify-content: center;

  background-image: repeating-linear-gradient(135deg, #ebd007, #ebd007 30px, #555 30px, #555 60px);
  color: white;

  font-size: 1.25rem;

  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes flash {
  0% {color: white;}
  50% {color: red;}
  100% {color: white;}
}

@media only screen and (min-width: 768px) {
  section {
    width: 95%;
  }

  .categories-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
  }

  .category input {
    width: 25%;
    /* margin-bottom: 15px; */
  }

  li {
    justify-content: flex-start;
    max-width: 75%;
  }

  li .item-name {
    flex: 0;
    white-space: nowrap;
  }

  li .item-cost {
    flex: 1;
  }

}